/*Demo-style*/

section {
    width: 100%;
    min-width: 305px;
    min-height: 100%;
}

section#demo {
    position: relative;
}

section .demo-box {
    position: relative;
    margin: 0 auto;
    min-width: 305px;
}

section .demo-box nav {
    float: left;
    width: 200px;
    height: 100%;
    background-color: white;
    border: 1px solid #E3E6E5;
    border-radius: 5px;
    margin-bottom: 0;
}

section .demo-box nav .container-fluid {
    padding: 0;
}

section .demo-box nav .container-fluid .navbar-brand {
    width: 269px;
    height: 90px;
    border-bottom: 1px solid #E3E6E5;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
}

section .demo-box nav .container-fluid .navbar-brand p {
    width: 100%;
    height: 20px;
    line-height: 20px;
    color: #474747;
    margin: 0;
    font-size: 16px;
}

section .demo-box nav .container-fluid .navbar-brand h1 {
    width: 100%;
    height: 30px;
    line-height: 30px;
    color: #474747;
    margin: 10px 0 0;
    font-size: 30px;
    text-align: left;
    font-weight: 600;
    word-spacing: 5px;
    letter-spacing: -4px;
}

section .demo-box nav .container-fluid .panel-group .panel-default {
    border-radius: 0;
    border: none;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-heading {
    background-color: white;
    height: 40px;
    padding-left: 0;
    background-image: none;
    background-image: none;
    background-image: none;
    background-image: none;
    filter: none;
    background-repeat: none;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-heading .collapsednew .panel-title .square {
    height: 20px;
    width: 10px;
    float: left;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: -2px;
    color: #474747;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-heading .collapsednew .panel-title .square span {
    font-size: 10px;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-heading .collapsednew .panel-title .spantitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 60%;
    float: left;
    color: #474747;
    font-size: 15px;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-heading .collapsednew .panel-title .squarerotate {
    position: relative;
    animation: squarerotate 0.3s;
    -moz-animation: squarerotate 0.3s;
    -webkit-animation: squarerotate 0.3s;
    -o-animation: squarerotate 0.3s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-heading .collapsednew .panel-title span {
    color: #474747;
    font-weight: 500;
    font-size: 14px;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-heading .collapsednew .panel-title .badge {
    float: right;
    background-color: #E8EAE9;
    color: white;
    font-size: 10px;
    margin-top: 1px;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-heading .collapsednew .panel-title .badgeBlue {
    background-color: #57AFFD;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-heading .collapsednew .panel-title:hover {
    opacity: 0.8;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-collapse {
    overflow: hidden;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-collapse .panel-body .nav-stacked li a {
    color: #474747;
    font-size: 13px;
    padding: 5px 15px;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-collapse .panel-body .nav-stacked li a:hover {
    color: #474747;
    background-color: #E8EAE9;
    border-radius: 0;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-collapse .panel-body .nav-stacked .active {
    background-color: #57AFFD;
    border-radius: 0;
}

section .demo-box nav .container-fluid .panel-group .panel-default .panel-collapse .panel-body .nav-stacked .active a {
    color: white;
}

section .demo-box nav .navbar-brand:hover {
    opacity: 0.8;
}

section .demo-box .hidden-xs {
    width: 100%;
    overflow: auto;
    margin-bottom: 0;
    background-color: white;
}

section .demo-box .hidden-xs::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

section .demo-box .hidden-xs::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: white;
}

section .demo-box .hidden-xs::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: #DCE4E6;
}

section .demo-box .demo-data {
    height: 100%;
    float: left;
}

section .demo-box .demo-data .row {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 5px;
}

section .demo-box .demo-data .row .content {
    padding-left: 30px;
    padding-right: 30px;
}

section .demo-box .demo-data .row .content h2 {
    margin: 30px 0;
    font-size: 20px;
    font-weight: 600;
}

section .demo-box .demo-data .row .content .new-tab button {
    width: 120px;
    text-align: center;
    border-radius: 5px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    margin-bottom: 10px;
}

section .demo-box .demo-data .row .content .new-tab button img {
    margin-top: -3px;
    margin-right: 5px;
}

section .demo-box .demo-data .row .content .new-tab button a {
    color: #57AFFD;
}

section .demo-box .demo-data .row .content .new-tab button:hover {
    background-color: white;
    opacity: 0.8;
}

section .demo-box .demo-data .row .content iframe {
    width: 100%;
    overflow: auto;
    height: 650px;
    border-radius: 5px;
    padding: 5px;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#A4A4A4, direction=120, strength=3);
    -moz-box-shadow: 0 0 12px #A4A4A4;
    -webkit-box-shadow: 0 0 12px #A4A4A4;
    box-shadow: 0 0 12px #A4A4A4;
    z-index: 10000;
}

section .demo-box .demo-data .row .content .btn-group {
    float: right;
    margin-top: -34px;
    margin-right: 7px;
}

section .demo-box .demo-data .row .content .btn-group button {
    border-radius: 5px 5px 0 0;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#DCDCDC, direction=120, strength=3);
    -moz-box-shadow: 2px 2px 8px #DCDCDC;
    -webkit-box-shadow: 2px 2px 8px #DCDCDC;
    box-shadow: 2px 2px 8px #DCDCDC;
    color: #56B2FF;
}

section .demo-box .demo-data .row .content .btn-group button:hover {
    opacity: 0.8;
}

section .demo-box .demo-data .row .content .refLibDiv {
    margin-top: 30px;
}

section .demo-box .demo-data .row .content .refLibDiv .refLibField {
    color: #56B2FF;
    font-family: "微软雅黑";
    font-size: 14px;
    float: left;
}

section .demo-box .demo-data .row .content .refLibDiv #refLibs {
    color: #56B2FF;
    font-family: "微软雅黑";
    font-size: 14px;
    float: left;
    margin-left: 40px;
}

section .demo-box .demo-data .row .content .bs-example {
    margin-top: 50px;
}

section .demo-box .demo-data .row .content .bs-example ul li {
    background-color: white;
}

section .demo-box .demo-data .row .content .bs-example ul li a {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#A4A4A4, direction=120, strength=3);
    -moz-box-shadow: 0 0 12px #A4A4A4;
    -webkit-box-shadow: 0 0 12px #A4A4A4;
    box-shadow: 0 0 12px #A4A4A4;
    border: 1px solid #C0C0C0;
    color: #333333;
}

section .demo-box .demo-data .row .content .bs-example ul li .ablack {
    background-color: #DCDDDD;
}

section .demo-box .demo-data .row .content .bs-example .tab-content {
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#A4A4A4, direction=120, strength=3);
    -moz-box-shadow: 0 0 12px #A4A4A4;
    -webkit-box-shadow: 0 0 12px #A4A4A4;
    box-shadow: 0 0 12px #A4A4A4;
    height: 700px;
}

section .demo-box .demo-data .row .content .bs-example .tab-content .fade {
    height: 700px;
}

section .demo-box .demo-data .row .content .bs-example .tab-content .fade .code {
    height: 700px;
}

section .demo-boxS {
    position: absolute;
    top: 100px;
    left: 15px;
    right: 15px;
    bottom: 10px;
}

.movenav {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 68px;
    z-index: 100;
    background-color: white;
    border: 1px solid white;
}

.movenav .container-fluid .navbar-collapse {
    max-height: 450px;
    overflow: auto;
}

.movenav .container-fluid .navbar-collapse ul li a b {
    float: right;
    margin-top: 9px;
}

.movenav .container-fluid .navbar-collapse ul li ul li {
    padding-left: 30px;
}

.movenav .container-fluid .navbar-collapse ul li ul li:hover {
    background-color: #E7E7E7;
}

.nav-pills > li.active > a {
    background-color: #57AFFD;
}

#layaCanvas {
    border-image-repeat: 5px;
}

#descDiv {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 30px;
    height: auto;
    line-height: 30px;
    color: #333333;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: 600;
}

@media (min-width: 768px) and (max-width: 954px) {
    section .demo-box .demo-data .row .content .bs-example ul li {
        float: none;
        width: 114px;
    }
}

@media (max-width: 595px) {
    section .demo-box .demo-data .row .content .bs-example ul li {
        float: none;
        width: 114px;
    }
}

@media (max-width: 767px) {
    section#demo {
        margin-top: 110px;
    }


    section .demo-boxS {
        top: 0;
    }

    section .demo-box nav {
        display: none;
    }

    .movenav {
        display: block;
    }

    section .demo-box .demo-data .row {
        margin-left: 0;
    }

    section .demo-box .demo-data .row .content {
        padding-left: 0;
        padding-right: 0;
    }

    section .demo-box .demo-data .row .content iframe {
        height: 300px;
    }
}

@media (max-width: 340px) {
    section .demo-box {
        left: 0;
        right: 0;
    }

    section .demo-box .demo-data .row {
        padding-left: 0;
        padding-right: 0;
        margin-left: 5px;
    }
}

@keyframes squarerotate {
    100% {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

@-moz-keyframes squarerotate {
    100% {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

@-webkit-keyframes squarerotate {
    100% {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

@-o-keyframes squarerotate {
    100% {
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
}

/* MODAL */

.modal-content {
    margin: 120px auto 0;
    width: 310px;
    background-clip: padding-box;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    outline: 0 none;
    position: relative;
}

.modal-dialog {
    z-index: 1200;
}

.modal-body {
    padding: 20px 30px 30px;
}

.inmodal .modal-header {
    background: #f8fafb;
    padding-left: 40px;
}

.animated.modal.fade .modal-dialog {
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.inmodal .modal-title {
    font-size: 16px;
}

.inmodal .modal-icon {
    font-size: 84px;
    color: #e2e3e3;
}

.modal-footer {
    margin-top: 0;
}

.demo_category {
    width: 50%;
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}

.demo_category > a {
    margin-right: 0px !important;
}

.demo_category > a:link {
    /*color: black !important;*/
}

.libs-link,
.d3-link {
	cursor: pointer;
}